{
  "*.{ts,tsx}": [
    "eslint --ext=ts,tsx",
    "tslint -c tslint.json",
    "stylelint",
    "prettier --parser typescript --write",
    "git add"
  ],
  "*.{json,md}": ["prettier --write", "git add"],
  "package.json": [
    "prettier-package-json --write",
    "prettier --write",
    "git add"
  ],
  ".*rc": ["prettier --parser json --write", "git add"]
}
