{
  "*.{js,ts,tsx}": [
    "eslint --ext=ts,tsx --fix",
    "stylelint",
    "prettier --parser typescript --write"
  ],
  "*.json": ["prettier --write"],
  "package.json": ["prettier-package-json --write", "prettier --write"],
  ".*rc": ["prettier --parser json --write"]
}
